<style>
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: antiquewhite;
        border-radius: 0.3rem;
    }
</style>

<div class="jumbotron text-center">
    <h1 class="display-3">
        {{title}}
    </h1>
    <p class="lead">We offer supply to your pets</p>
    <a href="/product" class="btn btn-dark btn-lg" role="button">Let's shop</a>
</div>